/*HEADER*/

body {
	background-image:url(images/background.jpg);
	background-repeat:no-repeat;
	background-attachment:fixed;
}

h1 {
	font-size:24px;
	font-family: 'Old Standard TT', serif;
	color:#e5ddb9;
}

.p1 {
	color:#e5ddb9;
	font-weight:400;
}

#headMaster	{
	width: 100%;
	height: auto;
	background-image:url(images/headertransp.png);
	background-repeat:repeat-x;
}

#master	{
	width:980px;
	height:auto;
	margin: 0 auto 0 auto;
	padding: 10px 0 0 0;
}

#maskheader{
	width: 550px;
	height: auto;
	margin-left:auto;
	margin-right:auto;
}

#globalmenu {
	height: 35px;
	width: 550px;
	background-image:url(images/globalmenu.png);
	background-repeat:no-repeat;
	margin: 0 auto 0 auto;
	text-align:center;
	padding: 15px 0 0 0;
}

#globalmenu li{
	display: inline;
	list-style-type: none;
	margin: 20px 15px 0 15px;
	font-family: 'Old Standard TT', serif;
	color:#e5ddb9;
	font-size:20px;
	font-weight:600;
}

#dancinglady {
	height: 688px;
	width: 288px;
	background-image:url(images/Damen10procent.png);
	background-repeat:no-repeat;
	position: absolute;
	margin-top: 10px;
	margin-left: 1%;
}

/*Tilmelding*/

#tilmeldKnapMaster	{
	width:100%;
	height:200px;
	background-color:#000000;
	position:ablosulte;
	float:right;
	cursor: pointer;
	z-index:100;
	margin-top:300px;
}

#tilmeldKnap	{
	width:50px;
	height:200px;
	background-image:url(images/tilmeldBold.png);
	position:fixed;
	float:right;
	cursor: pointer;
	z-index:100;
	margin-top:300px;
}

#tilmeldMaster	{
	width:100%;
	height:auto;
	position:absolute;
	margin: 0 auto 0 auto;
	z-index:1000;
	display:none;
	background-image:url(images/overlay.png)
}

#tilmeldDiv	{
	width:500px;
	height:400px;
	margin: 200px auto 0 auto;
	/*background-color:#5bbce4;*/
	background-image:url(images/headertransp03.png);
	padding: 20px;
	box-shadow: 3px 3px 4px #000;
}

#tilmeldDesc	{
	margin:0 10px 40px 10px;
}

#tilmeldDesc h1	{
	font-family: 'georgia', serif;
	color:#e5ddb9;
	font-size:20px;
	font-weight:600;
	margin: 0 0 10px 0;
}

#tilmeldDesc p	{
	font-family: 'georgia', serif;
	color:#000;
	font-size:14px;
	color:#e5ddb9;
}


.formBox	{
	height:30px;
	margin:10px 10px 10px 10px;
	color:#e5ddb9;
}

.formLeft	{
	width:200px;
	height:auto;
	float:left;
	margin: 0 0 0 35px;
}

.formRight	{
	width:200px;
	height:auto;
	float:right;
}

/*Kontakt*/

#kontaktHead {
	width: 100%;
	height: auto;
	border: solid green 1px;
	margin: auto;
}

#kontaktWrap {
	width: 	50%;
	height: 500px;
	display:inline-block; 
}

.kontaktPers {
	float: left;
	width: 200px;
	height: 200px;
}

.kontaktPic {
	height: 150px;
	width: 150px;
}
#kontaktForm {
	height: auto;
	width: 200px;
}

#formWrap {
	float: right;
	display:inline-block;
	height: auto;
}