/*HEADER*/

body {
	background-image:url(images/background.jpg);
}

#master	{
	width:980px;
	height:auto;
	margin:0 auto 0 auto;
}

#headMaster	{
	width: 100%;
	height: 180px;
}

#maskheader{
	width: 550px;
	height: 160px;
	margin-left:auto;
	margin-right:auto;
}

